@use 'fonts';

$primary-color: #FFFFFF;
$secondary-color: #7E30E1;
$accent-color: #09060C;
$body-text-color: #FFFFFF;
$heading-font-family: 'Inter', sans-serif;
$body-font-family: 'Inter', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;